/*Start-screen*/
.start-screen {
  width: 100%;
  padding-top: 180px;

  background:
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

@media screen and (max-width: 1279px) {
  .start-screen {
    padding-top: 90px;
  }
}

/*Not-only*/
.not-only {
  display: flex;
  justify-content: space-between;
  gap: 42px;
}

.not-only__header {
  margin-top: 163px;
  width: 310px;

  font-family: 'Georgia';
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
}

.not-only__text {
  margin-top: 42px;
  margin-bottom: 42px;

  color: #CDCDCD;
}

.not-only__left-column {
  width: 460px;
}

@media screen and (max-width: 1279px) {
  .not-only {
    flex-direction: column;
    gap: 100px;
  }

  .not-only__header {
    margin-top: 60px;
  }

  .not-only__left-column {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .not-only__button {
    align-self: center;
  }

  .not-only__right-column {
    display: flex;
    justify-content: flex-end;
  }

  .not-only__image {
    width: 569px;
    height: 593px;
  }
}

/*About*/
.about__container {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-bottom: 100px;
}

.about__left-column {
  margin-top: 80px;
}

.about__right-column {
  margin-top: 94px;
  width: 430px;
}

.about__header {
  font-family: 'Georgia';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 370px;
}

.about__text {
  width: 430px;
  color: #4C4C4C;
  margin-top: 25px;
}

@media screen and (max-width: 1279px) {
  .about__container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .about__right-column {
    width: 437px;
    margin: 80px auto 0;
  }

  .about__image {
    margin: 0 auto;
  }
}

/*Help*/
.help__header {
  display: block;
  width: 310px;
  margin: 80px auto 60px;
  text-align: center;

  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__items-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
  margin-bottom: 100px;
}

.help__item {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.help__item-icon {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
}

.help__item-icon_pet-food {
  background-image: url(../../assets/icons/icon-pet-food.svg);
}

.help__item-icon_transportation {
  background-image: url(../../assets/icons/icon-transportation.svg);
}

.help__item-icon_toys {
  background-image: url(../../assets/icons/icon-toys.svg);
}

.help__item-icon_bowls {
  background-image: url(../../assets/icons/icon-bowls-and-cups.svg);
}

.help__item-icon_shampoos {
  background-image: url(../../assets/icons/icon-shampoos.svg);
}

.help__item-icon_vitamins {
  background-image: url(../../assets/icons/icon-vitamins.svg);
}

.help__item-icon_medicines {
  background-image: url(../../assets/icons/icon-medicines.svg);
}

.help__item-icon_collars-leashes {
  background-image: url(../../assets/icons/icon-collars-leashes.svg);
}

.help__item-icon_sleeping-areas {
  background-image: url(../../assets/icons/icon-sleeping-area.svg);
}

.help__item-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media screen and (max-width: 1279px) {
  .help__items-container {
    column-gap: 60px;
    width: 708px;
    margin-left: auto;
    margin-right: auto;
  }

  .help__item {
    width: 170px;
  }
}

/*In-addition*/
.in-addition {
  background: #F6F6F6;
}

.in-addition__container {
  display: flex;
  gap: 30px;
}

.in-addition__image {
  margin-left: 143px;
  margin-top: 91px;
}

.in-addition__right-column {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 380px;
}

.in-addition__header {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
  margin-top: 80px;
}

.in-addition__mini-header {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__card {
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  width: 350px;
  text-decoration: none;
}

.in-addition__card-icon {
  width: 30px;
  height: 23px;
  background-image: url(../../assets/icons/credit-card.svg);
}

.in-addition__card-number {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__text {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  margin-bottom: 100px;
}

@media screen and (max-width: 1279px) {
  .in-addition__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
  }

  .in-addition__text {
    margin-bottom: 0;
  }

  .in-addition__image {
    margin: 0 0 100px;
  }
}
