body {
  margin: 0;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/*Container*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*Start-screen*/
.start-screen {
  width: 100%;
  padding-top: 180px;

  background:
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

}

/*Header*/
.header {
  width: 100%;

  margin-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__title {
  font-family: 'Georgia';
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  color: #F1CDB3;
  margin-bottom: 10px;
}

.logo__subtitle {
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}

/*Nav*/
.nav {
  color: #CDCDCD;
}

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 35px;
}

.nav__item_active {
  border-bottom: #F1CDB3 solid 3px;
}

.nav__link {
  color: #CDCDCD;
  text-decoration: none;
}

.nav__item_active .nav__link,
.nav__item:hover .nav__link {
  color: #FFFFFF;
}


/*Not-only*/
.not-only {
  display: flex;
  justify-content: space-between;
  gap: 42px;
}

.not-only__header {
  margin-top: 163px;
  width: 310px;

  font-family: 'Georgia';
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
}

.not-only__text {
  margin-top: 42px;
  margin-bottom: 42px;

  color: #CDCDCD;
}

.not-only__left-column {
  width: 460px;
}

/*Button*/
.button {
  display: inline-block;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px;
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: #FFFFFF;
  color: #292929;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.button_primary {
  background-color: #F1CDB3;
}

/*About*/
.about__container {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-bottom: 100px;
}

.about__left-column {
  margin-top: 80px;
}

.about__right-column {
  margin-top: 94px;
  width: 430px;
}

.about__header {
  font-family: 'Georgia';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 370px;
}

.about__text {
  width: 430px;
  color: #4C4C4C;
  margin-top: 25px;
}

/*Our-friends*/
.our_friends {
  background-color: #F6F6F6;
  padding-top: 80px;
}

.our-friends__header {
  text-align: center;
  margin: 0 auto;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
}

.our-friends__slider {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
}

.our-friends__cards-container {
  display: flex;
  gap: 90px;
}

.our-friends__button-container {
  display: flex;
  justify-content: center;
}

.our-friends__button {
  margin-top: 60px;
  margin-bottom: 100px;
}

/*Card*/
.card {
  width: 270px;
  text-align: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  padding-bottom: 30px;
}

.card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.card:hover .button {
  background-color: #FDDCC4;
}

.card__header {
  display: block;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Button-paginator*/
.button-paginator {
  display: inline-block;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-paginator:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.button-paginator_prev {
  background-image: url(../../assets/icons/arrow-left.svg);
}

.button-paginator_next {
  background-image: url(../../assets/icons/arrow-right.svg);
}

/*Help*/
.help__header {
  display: block;
  width: 310px;
  margin: 80px auto 60px;
  text-align: center;

  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__items-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
  margin-bottom: 100px;
}

.help__item {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.help__item-icon {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
}

.help__item-icon_pet-food {
  background-image: url(../../assets/icons/icon-pet-food.svg);
}

.help__item-icon_transportation {
  background-image: url(../../assets/icons/icon-transportation.svg);
}

.help__item-icon_toys {
  background-image: url(../../assets/icons/icon-toys.svg);
}

.help__item-icon_bowls {
  background-image: url(../../assets/icons/icon-bowls-and-cups.svg);
}

.help__item-icon_shampoos {
  background-image: url(../../assets/icons/icon-shampoos.svg);
}

.help__item-icon_vitamins {
  background-image: url(../../assets/icons/icon-vitamins.svg);
}

.help__item-icon_medicines {
  background-image: url(../../assets/icons/icon-medicines.svg);
}

.help__item-icon_collars-leashes {
  background-image: url(../../assets/icons/icon-collars-leashes.svg);
}

.help__item-icon_sleeping-areas {
  background-image: url(../../assets/icons/icon-sleeping-area.svg);
}

.help__item-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

/*In-addition*/
.in-addition {
  background: #F6F6F6;
}

.in-addition__container {
  display: flex;
  gap: 30px;
}

.in-addition__image {
  margin-left: 143px;
  margin-top: 91px;
}

.in-addition__right-column {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 380px;
}

.in-addition__header {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
  margin-top: 80px;
}

.in-addition__mini-header {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__card {
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  width: 350px;
  text-decoration: none;
}

.in-addition__card-icon {
  width: 30px;
  height: 23px;
  background-image: url(../../assets/icons/credit-card.svg);
}

.in-addition__card-number {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition__text {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  margin-bottom: 100px;
}
